/* Sidebar Item: components/sidebar/sidebar_item.js */

.sidebarItem__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: whitesmoke;
}

.sidebarItem__container:hover {
    /* font-size: larger; */
    background-color: #EEEEEE;
    color: #393E46;
}

.sidebarItem__text{
    margin-left: 10px;
}

/* Sidebar: components/sidebar/sidebar.js */
.sidebar__container{
    /* Menu stick to topleft corner */
    position: sticky;
    top: 15px;

    display: flex;
    flex-direction: column;
    height: auto;
    /* width: 25%; */
    max-width: 250px;
    min-width: fit-content;
    padding: 10px;
    border-radius: 10px;

    /* Font and Color */
    color: whitesmoke;
    background-color: #393E46;
    font-size: larger;

    height: fit-content;

    /* shadow */
    /* box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, .5); */
    }


.btn__container{
    width: fit-content;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.btn__container:hover{
    color: #393E46;
    background-color: #EEEEEE;
}

.sidebar__container.sidebar__collapsed {
    width:fit-content;
    /* max-width: 0px; */
}

.sidebar__container.sidebar__collapsed .sidebarItem__text{
    display: none;
}

/* Topbar */
.app__topbar{
    display: flex;
    flex-direction: row;
}

.searchbar__container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #393E46;
    /* height: 100%; */
}

.searchbar__input{
    width: 100%;
    /* margin-right: 10px; */
    
    /* border-radius: 10px; */
    border:transparent;
    font-size: larger;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;

}

.searchbar__btn{
    border:transparent;
    background-color: #393E46;
    color:whitesmoke;
    font-size: larger;
    /* font-weight: 100; */
    padding: 5px 10px;
}


/* New post */
.newpost__container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.newpost__input {
    resize: none;
    border-radius: 10px;
    border: 1px solid #EEE;
    outline: #555;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: justify;
    font-size: larger;
    font-weight: 100;
}

.newpost__postBtn {
    /* padding: 5px 10px; */
    border:transparent;
    background-color: #406882;
    color: whitesmoke;
    border-radius: 10px;
    font-size: larger;
    width: fit-content;
    padding: 10px 20px
}

.post__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #EEE;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

.post__user {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 5px;
    color: #406882;
}

.post__content {
    /* flex-wrap: wrap; */
    word-wrap: break-word;
    height: fit-content;
    /* text-justify:distribute; */
    /* max-height: 30x; */
}

.post__timestamp{
    margin-bottom: 10px;
    font-size: small;
    color: gray;
}