#container {
    width: 60%;
}

.app {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.correct {
    color: lightgreen;
    font-weight: bold;
    text-decoration: none;
}

.wrong {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
