.root {
    width: 50%;
    margin: auto;
    padding: 10;
    justify-content: center;
}

.clock {
    width: 100%;
    margin: 10 0 10 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .1); */

}

.btn {
    margin: 2px;
    width: 100;
}

.btn_container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    /* border: 1px solid lightblue; */
}

body {
    display: flex;
    /* height: 200px; */
}

.clock_digit {
    font-size: 18;
    font-family: "Orbitron";
    color: red;

}